{{template "header.html" .}}

<div class="ui container">
    <div class="ui padded segment">

        <div class="ui huge center aligned header">
            Subspace
            <div class="sub header">
                Private WireGuard&reg; VPN Server
            </div>
        </div>

        <div class="ui hidden section divider"></div>

        <div class="ui big list">
            <div class="item">
                <i class="large green check circle outline icon"></i>
                <div class="content">
                    <div class="header">
                        Encrypt your connection
                    </div>
                    <div class="description">
                        Securely access the internet, even on untrusted wifi connections
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="large green check circle outline icon"></i>
                <div class="content">
                    <div class="header">
                        Stop your internet provider from spying on you
                    </div>
                    <div class="description">
                        Maintain your privacy rights by encrypting your home traffic
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="large green check circle outline icon"></i>
                <div class="content">
                    <div class="header">
                        Connect from any device
                    </div>
                    <div class="description">
                        Use any VPN app that supports WireGuard, on desktop or mobile
                    </div>
                </div>
            </div>
        </div>

        <div class="ui hidden section divider"></div>

        <div class="ui large center aligned header">License</div>
        <p>
            MIT License
        </p>

        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>

        <p>
            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
        </p>

        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </p>

        <div class="ui hidden section divider"></div>

        <div class="ui large center aligned header">Source Code</div>

        <p class="center-aligned">
            <a href="https://github.com/subspacecommunity/subspace">Subspace on GitHub</a>
        </p>

        <div class="ui hidden section divider"></div>

        <div class="ui large center aligned header">Trademarks</div>
        <p class="center-aligned">
            WireGuard is a registered trademark of Jason A. Donenfeld
        </p>
    </div>
</div>

{{template "footer.html" .}}

